<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
		<appSettings>

			<add key="nombre-empresa" value="Creado por Nahuel Florentin System ®"/>
			<add key="strConex" value="Server=DESKTOP-CU2VMC1;Database=db_veterinaria1;Trusted_Connection=True;"/>
		</appSettings>
</configuration>